<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324499308305-obh92bskqhj8ucoicd82spdbde0qj1iu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324499308305-obh92bskqhj8ucoicd82spdbde0qj1iu</string>
	<key>API_KEY</key>
	<string>AIzaSyA3CgEsBCT4Zd7kDo06FM4wqnX5w98Ywvw</string>
	<key>GCM_SENDER_ID</key>
	<string>324499308305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qatarreciclagem</string>
	<key>PROJECT_ID</key>
	<string>qatarreciclagem-fatec</string>
	<key>STORAGE_BUCKET</key>
	<string>qatarreciclagem-fatec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324499308305:ios:7987d3ba9ab1a8e31ed6b0</string>
</dict>
</plist>